html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}
.wrapper{
  position:relative;
  width:100%;
  height:100%;
}
.header {
  height: 66px;
  background: #07569A;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 10px 50px 10px 50px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.logo>img {
  vertical-align: baseline;
}

.basket {
  width: 160px;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 20px;
  color: white;
  border-left: 1px solid white;
}

.basket>img {
  float: left;
  width: 33px;
  height: 33px;
}

.basket-bigtext {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.basket-smalltext {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

/* Мэйн */

.main {
  margin: 0 120px;
  min-width: 900px;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  height: 100vh;
  border-bottom:1px solid #D4D4D4;
}

.nav {
  background: #E5E4E5;
  height: 100%;
  width: 229px;
}

.nav-list {
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  padding: 20px;
  margin: 0;
}

.nav-item {
  margin-bottom: 20px;
  
}
.nav-item>a{
  color:black;
  text-decoration: none;
}
.nav-item>a:hover{
  cursor: pointer;
  border-bottom:1px solid black;
}

/* Контент */
.content {
  padding-top: 20px;
  padding-left: 30px;

}
.content-path{
  margin-bottom:40px;
  
}
.content-path a:nth-child(1),
.content-path a:nth-child(2){
  color:#3072C4;
}
.content-path a:nth-child(1):after,
.content-path a:nth-child(2):after{
  display: inline-block;
  content:'>';
  font-size: 14px;
  line-height: 20px;
  margin-left:6px;
  mergin-right:4px;
  color:black;
}

.content-header {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  margin-bottom:30px;
}
.grid{
  display:grid;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr;
  grid-row-gap:20px;
  grid-column-gap:80px;
  
}
.item{
  display:flex;
  flex-direction: column;
  max-width: 230px;
  justify-content: space-between;

}
.item>img{
  margin-bottom:20px;
  max-height:170px;
  max-width:170px;
  
}
.item-ref{
  color:black;
  font-size: 16px;
  line-height: 20px;
  margin-bottom:10px;
  text-decoration: none;
}
.item-ref:hover{
  text-decoration: underline;
}
.item-article{
  font-size: 16px;
  line-height: 20px;
  color: #A0A0A0;
  margin-bottom:20px;
}
.item-price{
  font-size: 28px;
line-height: 34px;
margin-bottom:10px;
}
.button{
  background: #07569A;
  color:white;
  font-size: 16px;
  line-height: 20px;
  width:125px;
  padding:11px 0;
}
.button:hover{
  cursor:pointer;
}
.button>img{
  padding-left:13px;
  width:15px;
  height:15px;
}
/* футер */
.footer{
  position: absolute;
  left:120px;
  font-size: 16px;
  line-height: 20px;
}
.footer>p{
  padding:15px 0;
}